body {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #5d007b;
}

h1 {
    text-transform: uppercase;
}

img {
    width: 50%;
    border: 5px solid white;
}

div {
    background-color: black;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 5%;
    padding: 40px 20px;
    border-radius: 10px;
    border: 2px white solid;
}

#first {
    margin-bottom: 0;
}

#second {
    margin-top: 0;
}